 /* Default (Light Mode) */
 body {
    background-color: white;
    color: black;
}

/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

/* Add any custom styles for the navbar links in dark mode */
body.dark-mode .navbar .nav-link {
    color: #f1f1f1;
}

body.dark-mode .navbar .nav-link:hover {
    color: #ccc;
}
.toggle-button {
    width: 120px; /* Adjust width as needed */
  }

