
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.product-card {
    background-color: white;
   
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}



.product-card .rating {
    font-size: 16px;
    color: #f0ad4e;
    margin-bottom: 10px;
}

.product-card .price {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

/* .product-card input {
    width: 60px;
    padding: 5px;
    margin-bottom: 10px;
} */

.add-to-cart {
    background-color: #410c04;
    border: 1px solid #a88734;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #3a0202;
}
.product-card{
    height: 700px;
}