 /* Default (Light Mode) */
 body {
    /* background-color: rgb(69, 4, 4); */
    /* color: rgb(69, 4, 4); */
}


/* Dark Mode */
body.dark-mode {
    background-color: #121212;
    color: #f1f1f1;
}

/* Add any custom styles for the navbar links in dark mode */
body.dark-mode .navbar .nav-link {
    color: #f1f1f1;
}

body.dark-mode .navbar .nav-link:hover {
    color: #ccc;
}
.toggle-button {
    width: 120px; /* Adjust width as needed */
  }

.logo{
    font-family: "Ruge Boogie", cursive;
    font-weight: 800;
    font-size:50px;
    font-style: normal;
    color: rgb(69, 4, 4);
}
/* .intro-text{
   
    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #0d0b0b;
    padding-top: 50px;
 
} */
.intro-image {
    position: relative;
    height: 700px; /* Adjust height as needed */
    width: 100%;
    overflow: hidden;
}

.intro-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.intro-image img.active {
    opacity: 1;
}

/* Style for the navigation buttons */
.navigation {
    position: absolute;
    top: 50%; /* Center vertically */
    width: 100%;
    display: flex;
    justify-content: space-between; /* Space buttons to the left and right */
    transform: translateY(-50%); /* Adjust for centering */
}

.btn {
    font-size: 24px; /* Increase font size for better visibility */
    padding: 10px; /* Adjust padding */
    transition: background-color 0.3s;
}

/* Change button style on hover */
.btn:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slightly darken background on hover */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3a0202;
}



.product-card {
    background-color: white;
   height: 700px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.product-card img {
    max-width: 100%;
    height: 450px;
    margin-bottom: 10px;
}



.product-card .rating {
    font-size: 16px;
    color: #f0ad4e;
    margin-bottom: 10px;
}

.product-card .price {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}



.add-to-cart {
    background-color: #410c04;
    border: 1px solid #a88734;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart:hover {
    background-color: #3a0202;
}
.product-card{
    height: 700px;
}
