/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    background-color: #532828;
    color: #333;
}

/* Header */
header {
    background-color: #828080;
    color: white;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo {
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Playwrite CU', sans-serif;
}

/* Header Left: Language Selector */
.header-left {
    display: flex;
    align-items: center;
}

/* Language selector */
.header-left select.language {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #b9b6b6;
    color: #3e3c3c;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(20, 16, 16);
    font-size: 1.1rem;
}

nav ul li a:hover,
nav ul li a.active {
    text-decoration: underline;
}

/* Home section */
.home {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/2337818/pexels-photo-2337818.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(44, 26, 26);
    text-align: center;
}

.intro-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.intro-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #532828;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #402020;
}

/* Services section */
.services {
    padding: 50px 20px;
    background-color: #f8f8f8;
    text-align: center;
}

.category-buttons {
    margin-bottom: 20px;
}

.category-btn {
    background-color: #532828;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.category-btn:hover {
    background-color: #402020;
}

/* Cake list styling */
.cake-list {
    display: none; /* Hidden by default */
    margin-top: 20px;
}

.cake-list h3 {
    margin-bottom: 10px;
    color: #333;
}

.cake-list ul {
    list-style-type: none;
    padding: 0;
}

.cake-list ul li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
