/* General Styles */
body {
    font-family: 'Playwrite CU', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Home section with a background image */
.home {
    height: 100vh;  /* Full viewport height */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);  /* Semi-transparent */
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

select {
    padding: 5px;
    font-size: 16px;
}
