body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222121;
  color: white;
}
.history-section {
  background-color: noun;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.history-section h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#history {
  list-style-type: none;
}

#history li {
  padding: 5px 0;
  font-size: 1.2rem;
}

.phone-frame {
  width: 260px;
  height: 580px;
  background-color: #1a1a1a;
  border-radius: 40px;
  padding: 20px;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border: 5px solid #333;
}

.status-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 1.2rem;
}

.time {
  font-family: sans-serif;
}

.icons i {
  margin-left: 10px;
  font-size: 0.9rem;
}
.calculator {
  border: 4px solid #f3f0f0;
  padding: 20px;
  background-color: #0f0e0e;
  
  border-radius: 40px;
  
}

#display {
  width: 100%;
  height: 50px;
  background: none;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  border: none;
   color: white; 
  padding: 10px;
  margin-bottom: 45px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
.btn big{
  padding: 35px; 
  font-size: 28px;
}
.btn {
  padding: 15px;
  font-size: 18px;
  background-color: #343131;
  border-radius: 50px;
  color: white;

  /* cursor: pointer; */
}
.buttons{
  margin-bottom: 40px;
}
.li{
  background-color: rgba(239, 133, 11, 0.838);
}

.btn:hover {
  background-color: #ddd;
}

/* #equal {
  background-color: #4CAF50;
  color: white;
} */

#clear {
  background-color: #f44336;
  color: white;
}
.custom-line {
  border: none;          /* Remove the default border */
  height: 3px;          /* Set the height to 40px */
  background-color: #fffafa; /* Choose the line color (black in this case) */
  width: 45%;           /* Set the width to cover the full page or a specific percentage */
}
